*{
	_noFocusLine: expression(this.hideFocus=true);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout:none;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px transparent;
}
::-moz-focus-inner{border:0;}
:focus{outline:none;}
html{
	font-family: Roboto, Verdana, Arial, sans-serif;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	overflow: hidden;
	display: block;
	background: #000;
}
input{
	cursor: text;
	background: #059;
}
body{
	font-family: Roboto, Verdana, Arial, sans-serif;
	font-size: 1em;
	position: absolute;
	opacity: 0;
	background: #000;
	overflow: hidden;
}
header{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	font-size: 1.375em;
	padding: .25em .5em;
	word-spacing: .05em;
}
#mainWrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a{
	color: #8bf;
}
.fwFont{
	color: #aef;
}
audio{
	display: none;
}
h1,h2{
	font-size: 1.25em;
	color:#fff;
	margin:0;
	padding:0;
}
.header{
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: .2em;
	color: #aef;
    background: -webkit-radial-gradient(center center, farthest-side, rgba(32,64,124,.5) 0%, rgba(0,0,0,.1) 100%);
    background: -moz-radial-gradient(center center, farthest-side, rgba(32,64,124,.5) 0%, rgba(0,0,0,.1) 100%);
    background: -ms-radial-gradient(center center, farthest-side, rgba(32,64,124,.5) 0%, rgba(0,0,0,.1) 100%);
    background: -o-radial-gradient(center center, farthest-side, rgba(32,64,124,.5) 0%, rgba(0,0,0,.1) 100%);
}
a:hover{
	color: #8bf;
	text-decoration: none;
}
/* common helpers */
.fancyhr{
	border: 0; 
	height: 1px; 
	margin: 1% 0;
	background-image: -webkit-linear-gradient(
		left, 
		rgba(16,64,176,.4), 
		rgba(32,128,232,1), 
		rgba(16,64,176,.4)
	); 
	background-image: -moz-linear-gradient(
		left, 
		rgba(16,64,176,.4), 
		rgba(32,128,232,1), 
		rgba(16,64,176,.4)
	); 
	background-image: -ms-linear-gradient(
		left, 
		rgba(16,64,176,.4), 
		rgba(32,128,232,1), 
		rgba(16,64,176,.4)
	); 
	background-image: -o-linear-gradient(
		left, 
		rgba(16,64,176,.4), 
		rgba(32,128,232,1), 
		rgba(16,64,176,.4)
	); 
}
.fancyhr2{
	margin: .5% 0;
}
.fancyhrNoTop{
	margin-top: 0;
}
.shadow4{
	text-shadow:
		1px 1px #000,
		-1px 0 #000,
		1px 0 #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000;
}
/* logo */
#firmamentWarsLogoWrap{
	background: #000;
	width: 100%;
	height: 100%;
}
.titleBG{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.titleStars{
	background: url('../images/title/firmamentWarsTitle_stars.png');
	background-size: 800px 800px;
	width: 100%;
	height: 100%;
}
#comingSoon{
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	color: #8bf;
	font-size: 4em;
	letter-spacing: .25em;
	font-family: Cinzel, Times New Roman, serif;
}
.fwHidden, #titleMain{
	visibility: hidden;
	opacity: 0;
}
#titleGlobe{
	top: auto;
	bottom: 0;
	transform: translateY(20%);
}
#firmamentWarsLogo{
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-15%);
	width: 100%;
	max-width: 1400px;
}
/* Firmament Wars */
#gameWrap{
	visibility: hidden;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #000a3a;
}
.fw-text{
	color: #bef;
	text-shadow: .5px .5px #357, 1px 1px #357;
}
.no-select{
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#chat-content{
	vertical-align:bottom;
	padding: 2%;
}
#chat-ui{
	font-family: Roboto, Verdana, Arial, sans-serif;
	display: table;
	table-layout:fixed;
	position: absolute;
	bottom: 5%;
	left: .5%;
	width: 50%;
	max-width: 640px;
	padding: 5px;
	z-index: 9999;
	vertical-align: bottom;
}
#logout, #login{
	font-size: .75em;
}
.uppercase{
	text-transform: uppercase;
}
.chat-img{
	max-width: 40%;
	display: block;
}
.chat-muted{
	color: #aaaaaa;
	text-shadow: .5px .5px #333, 1px 1px #333;
}
.chat-manpower{
	color: #ffff00;
	text-shadow: .5px .5px #520, 1px 1px #520;
}
.chat-hidden{
	font-family: Consolas, monospace;
	color: #000000;
	background: #000000;
	text-shadow: none;
	pointer-events: auto;
}
.chat-hidden:hover{
	color: #fff;
	pointer-events: auto;
}
.ranked{
	color: #faf57a;
	text-shadow: .5px .5px #4a4406, 1px 1px #4a4406;
}
.chat-alert{
	color: #ff0000;
	text-shadow: .5px .5px #500, 1px 1px #500;
}
.chat-broadcast{
	color: #ff8800;
	text-shadow: .5px .5px #520, 1px 1px #520;
}
.chat-warning{
	color: #ffff1a;
	text-shadow: .5px .5px #550, 1px 1px #550;
}
.chat-online{
	color: #ffd700;
	text-shadow: .5px .5px #550, 1px 1px #550;
}
.chat-join{
	cursor: pointer;
}
.chat-danger{
	color: #ff1a1a;
	text-shadow: .5px .5px #500, 1px 1px #500;
}
.chat-news{
	color: #fff;
	text-shadow: .5px .5px #222, 1px 1px #222;
}
.chat-moves{
	color: #dd6600;
	text-shadow: .5px .5px #420, 1px 1px #420;
}
.chat-production{
	color: #33e5e5;
	text-shadow: .5px .5px #044, 1px 1px #044;
}
.chat-food{
	color: #8d0;
	text-shadow: .5px .5px #150, 1px 1px #150;
}
.chat-culture{
	color: #d2d;
	text-shadow: .5px .5px #515, 1px 1px #515;
}
.chat-arrow{
	color: #1e1;
	text-shadow: .5px .5px #050, 1px 1px #050;
}
.chat-whisper{
	color: #c8f;
	text-shadow: .5px .5px #326, 1px 1px #326;
}
.chat-white{
	color: #fff;
	text-shadow: .5px .5px #444, 1px 1px #444;
}
#titleMenu{
	position: absolute;
	top: 7%;
	left: 0;
	width: 51%;
	bottom: -2%;
	overflow: hidden;
	padding: .5% .75%;
	z-index: 100;
}
#refreshGameWrap{
	color: #bef;
	margin-top: .5vh;
	background: rgba(0,0,0,.5);
	overflow-y: auto;
	height: 65vh;
}
#gameTable{
	table-layout: fixed;
	width: 100%;
	padding: 0 1%;
	margin: 0;
	color: #fff;
}
#gameTable th {
	font-size: .75em;
}
#exitSpectate{
	display: none;
}
tbody{
	border: 0;
}
/* title chat */
#titleChatHeader{
	text-align: center;
	background: rgba(0, 0, 0, .7);
	margin-bottom: .25em;
	padding: .125em 0;
	border-bottom: 1px solid #357;
    background: -webkit-radial-gradient(top center, farthest-side, rgba(0, 48, 96, 1) 0%, rgba(0,0,0,1) 100%);
    background: -moz-radial-gradient(top center, farthest-side, rgba(0, 48, 96, 1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(top center, farthest-side, rgba(0, 48, 96, 1) 0%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(top center, farthest-side, rgba(0, 48, 96, 1) 0%, rgba(0,0,0,1) 100%);
}

.titlePlayer{
	padding: 0 .5em;
}
.titlePlayerAccount{
	cursor: pointer;
}
#titleChat{
	text-align: left;
	position: absolute;
	padding: 0;
	top: 7%;
	right: 0;
	width: 48.8%;
	bottom: -2%;
}
#titleChatWrap{
	position: relative;
	padding: 0;
	top: 1vh;
	left: 3px;
	right: 3px;
	font-family: Roboto, Verdana, Arial, sans-serif;
	color: #bef;
	text-shadow: 1px 1px #357;
	border-radius: 0;
}
#titleChatPlayers{
	position: relative;
	top: 3px;
	left: 3px;
	width: 40%;
	padding: 0;
	background: rgba(0,55,155,.2);
}
#titleChatLog{
	position: absolute;
	top: 3px;
	left: 41%;
	right: 3px;
	background: rgba(0,0,0,.5);
}
#login{
	color: #fff;
}
#title-chat-input{
	padding: 0 2%;
	width: 100%;
	border: 1px solid #2e6da4;
	border-right: none;
	background: rgba(0,12,32,1);
}
#titlePlayerCountWrap{
	float: right;
	color: #aef;
	font-family: Roboto, Verdana, Arial, sans-serif;
	padding: .25em .5em;
	border-radius: 4px;
	background: rgba(255,255,255,.1);
}
.titlePanelLeft{
	position: absolute;
	font-family: Roboto, Verdana, Arial, sans-serif;
	height: 87vh;
	text-shadow: .5px .5px #357, 1px 1px #357;
	color: #bef;
	border-radius: 4px;
	border: 1px solid #357;
	margin: 0;
	padding: .25em .5em .5em;
	overflow: auto;
}
#leaderboard{
	width: 85%;
	max-width: 1024px;
	height: 96%;
	background: #000;
	overflow: hidden;
}
#leaderboardBody{
	overflow: hidden;
	overflow-y: auto;
	height: 85vh;
	width: 100%;
	margin-left: 0;
}
#leaderboardFoot{
	position: relative;
	width: 100%;
	
}
.fwGameLabel{
	background: rgba(16,56,96,1);
	color: #aef !important;
	border: 1px solid #2e6da4;
}
.fwBlue{
	background: rgba(16,56,96,1);
	color: #aef !important;
	cursor: pointer;
	border: 1px solid #2e6da4;
	border-radius: 4px;
	text-shadow:
		1px 1px #000,
		-1px 0 #000,
		1px 0 #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000 !important;
}
.fwBlue:hover{
	background: rgba(26,66,106,1);
}
.fwBlue:active{
	background: rgba(6,46,86,1);
}
.fwGreen{
	background: rgba(11,76,11,1);
	color: #afa !important;
	cursor: pointer;
	border: 1px solid #3a3;
	border-radius: 4px;
	text-shadow:
		1px 1px #000,
		-1px 0 #000,
		1px 0 #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000 !important;
}
.fwGreen:hover{
	background: rgba(26,86,26,1);
}
.fwGreen:active{
	background: rgba(1,66,1,1);
}
#lobbyChatSend, #titleChatSendBtn{
	border-radius: 0 6px 6px 0;
}
#titleChatSendBtn{
	margin-right: .4vw;
}

/* lobby chat */
#lobby-chat-input{
	padding: .5% 1%;
	width: 100%;
	border: 1px solid #2e6da4;
	border-right: none;
}
#chat-input{
	position: absolute;
	bottom: .5em;
	left: .5em;
	width: 40%;
	padding: .5% 1%;
	z-index: 9999;
	font-family: Roboto, Verdana, Arial, sans-serif;
	border-radius: 4px;
	pointer-events: none;
}
.nobg{
	border: none;
	background: none;
}
.chatOn{
	background: rgba(0,0,0,.3);
	border: 1px solid rgba(192,240,255,.2);
}
#unlockGame, #configureNation, #createGameWrap{
	background: #000;
}
#card-number{
	width: 50%;
}
#card-cvc{
	width: 60px;
}
#card-month, #card-year{
	display: inline;
	width: 60px;
}
#screenFlash{
	position: absolute;
	background: '#ffffff';
	width: 100%;
	height: 100%;
	z-index: 4999;
	opacity: 0;
	pointer-events: none;
}
.marginLeft{
	margin-left: .5em;
}
.titleHeader{
	line-height: 1.625em;
}
#targetWrap{
	position: absolute;
	top: .25em;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 35%;
	max-width: 400px;
	padding: .25em 0 0 .4em;
	z-index: 9999;
}
#ribbonBackdrop{
	visibility: hidden;
}
#ribbonReward{
	visibility: hidden;
	width: 80%;
	background: #000;
}
#ribbonBody{
	font-family: Cinzel, Palatino Linotype, serif;
	text-align: center;
}
#ribbonWrap{
	line-height: 5px;
	text-align: center;
}
.narrowRack{
	width: 75px;
}
.wideRack{
	width: 100px;
}
#targetFlag{
	width: 80px;
	pointer-events: none;
}
#targetName{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
}
.ribbonName{
	font-size: 1.5em;
	margin-top: .5em;
}
.ribbonDescription{
	position: relative;
	top: -.5em;
	font-family: Palatino Linotype, Times New Roman, serif;
	font-size: 1em;
	margin-bottom: .25em;
}
.giantRibbon{
	margin: 0 auto .5em;
	width: 184px;
}
.ribbon{
	position: relative;
	display: inline-block;
	background-image: url('../images/ribbons/ribbonMap2.jpg');
	background-size: 600% 600%;
	height: 6px;
	width: 23px;
	background-position: 0 0;
	margin: 0 0 1px 0;
	padding: 0;
}
.ribbon1{
	background-position: 0 0;
}
.ribbon2{
	background-position: -100% 0;
}
.ribbon3{
	background-position: -200% 0;
}
.ribbon4{
	background-position: -300% 0;
}
.ribbon5{
	background-position: -400% 0;
}
.ribbon6{
	background-position: -500% 0;
}
.ribbon7{
	background-position: 0 -100%;
}
.ribbon8{
	background-position: -100% -100%;
}
.ribbon9{
	background-position: -200% -100%;
}
.ribbon10{
	background-position: -300% -100%;
}
.ribbon11{
	background-position: -400% -100%;
}
.ribbon12{
	background-position: -500% -100%;
}
.ribbon13{
	background-position: 0 -200%;
}
.ribbon14{
	background-position: -100% -200%;
}
.ribbon15{
	background-position: -200% -200%;
}
.ribbon16{
	background-position: -300% -200%;
}
.ribbon17{
	background-position: -400% -200%;
}
.ribbon18{
	background-position: -500% -200%;
}
.ribbon19{
	background-position: 0 -300%;
}
.ribbon20{
	background-position: -100% -300%;
}
.ribbon21{
	background-position: -200% -300%;
}
.ribbon22{
	background-position: -300% -300%;
}
.ribbon23{
	background-position: -400% -300%;
}
.ribbon24{
	background-position: -500% -300%;
}
.ribbon25{
	background-position: 0% -400%;
}
.ribbon26{
	background-position: -100% -400%;
}
.ribbon27{
	background-position: -200% -400%;
}
.ribbon28{
	background-position: -300% -400%;
}
.ribbon29{
	background-position: -400% -400%;
}
.ribbon30{
	background-position: -500% -400%;
}
.ribbon31{
	background-position: 0% -500%;
}
.ribbon32{
	background-position: -100% -500%;
}
.ribbon33{
	background-position: -200% -500%;
}
.ribbon34{
	background-position: -300% -500%;
}
.ribbon35{
	background-position: -400% -500%;
}
.ribbon36{
	background-position: -500% -500%;
}
#ui2-head{
	position: relative;
	color: #fff;
	z-index: 9999;
	padding: .25em .5em;
	text-align: right;
	border-radius: 4px;
	margin-bottom: .5em;
}
#ui2{
	position: absolute;
	color: #fff;
	top: .25em;
	right: .25em;
	padding: .5em;
	width: 24%;
	min-width: 150px;
	max-width: 250px;
	z-index: 9999;
	border-radius: 4px;
}
#resources-ui{
	position: absolute;
	bottom: .25em;
	right: .25em;
	width: 16%;
	max-width: 170px;
	padding: .5em 0;
	text-overflow: ellipsis;
	color: #fff;
	text-align: right;
	z-index: 9999;
}
#resources-ui > .row, #target-ui > .row{
	margin: 0;
	padding: 0 .5em;
}
#diploHead{
	font-family: Cinzel, Palatino Linotype, serif;
	color: #8df;
	margin-bottom: .25em;
	letter-spacing: .25em;
}
#diplomacy-ui{
	position: absolute;
	left: .25em;
	top: .25em;
	padding: .5em;
	color: #fff;
	text-align: left;
	z-index: 9999;
}
.tight{
	margin: 0 !important;
	padding: 0 !important;
}
.tight2{
	margin: 0 !important;
	padding: 0 5% 0 0 !important;
}
.crystalCost{
	padding-left: 5px;
}
#target-ui{
	padding: 0;
	margin: 0;
	color: #fff;
}
.blueBg{
	border: 1px solid rgba(176,240,255,1);
	border-radius: 4px;
	background: rgba(0, 8, 33, 1);
}
.stagBlue{
	border: 1px solid rgba(176,240,255,1);
	border-radius: 4px;
	background: rgba(0, 16, 60, 1);
	background: linear-gradient(top, 
		rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, 
		rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, 
		rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, 
		rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, 
		rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, 
		rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, 
		rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, 
		rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, 
		rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, 
		rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
	background: -webkit-linear-gradient(top, 
		rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, 
		rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, 
		rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, 
		rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, 
		rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, 
		rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, 
		rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, 
		rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, 
		rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, 
		rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
	background: -moz-linear-gradient(top, 
		rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, 
		rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, 
		rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, 
		rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, 
		rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, 
		rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, 
		rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, 
		rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, 
		rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, 
		rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
	background: -ms-linear-gradient(top, 
		rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, 
		rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, 
		rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, 
		rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, 
		rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, 
		rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, 
		rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, 
		rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, 
		rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, 
		rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
	background: -o-linear-gradient(top, 
		rgba(0, 24, 100, 1) 0%, rgba(0, 24, 100, 1) 10%, 
		rgba(0, 22, 90, 1) 10%, rgba(0, 22, 90, 1) 20%, 
		rgba(0, 20, 80, 1) 20%, rgba(0, 20, 80, 1) 30%, 
		rgba(0, 18, 70, 1) 30%, rgba(0, 18, 70, 1) 40%, 
		rgba(0, 16, 60, 1) 40%, rgba(0, 16, 60, 1) 50%, 
		rgba(0, 14, 50, 1) 50%, rgba(0, 14, 50, 1) 60%, 
		rgba(0, 12, 40, 1) 60%, rgba(0, 12, 40, 1) 70%, 
		rgba(0, 10, 30, 1) 70%, rgba(0, 10, 30, 1) 80%, 
		rgba(0, 8, 20, 1) 80%, rgba(0, 8, 20, 1) 90%, 
		rgba(0, 6, 10, 1) 90%, rgba(0, 6, 10, 1) 100%);
}
.diploNames{
	position: relative;
	top: .125em;
}
#lobbyFirmamentWarsLogo{
	opacity: 1;
	width: 100%;
}
#surrender{
	margin-right: .375em;
}
.surrender{
	margin-right: .375em;
	opacity: 0;
	pointer-events: none;
}
.resourceIndicator{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: .5em;
}
.manpower{
	color: #ffff00;;
}
.moves{
	color: #dd6600;
}
.food{
	color: #8d0;
}
.production{
	color: #33e5e5;
}
.culture{
	color: #d2d;
}
#target{
	padding: 3% 0;
	
}
#actionTable  tr{
    border-spacing: 1em;
    border-collapse: separate;
}
#tileInfo{
	font-size: .875em;
	margin: 2% 0;
}
#researchHead{
	font-family: Cinzel, Palatino Linotype, serif;
	font-size: 1.5em;
	letter-spacing: .25em;
}
#tileActions{
	position: relative;
}
#tileActions, #tileResearch{
	margin-top: 4%;
	font-size: .625em;
}
#tileActionsOverlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}
#menuSelect{
	width: 100%;
}
#tileAction > tbody > tr > td{
	color: #f00;
}
table td, .table th, .table td {
	border: none;
	outline: none;
    border-top: none !important;
}
.actionBolt{
	float: left;
	line-height: 1.75em;
}
.actionButtons{
	font-size: 1.5em;
	line-height: 1.75em;
	margin-bottom: .05em;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 8px 0 8px 0;
	box-shadow:
		1px 1px rgba(128, 192, 255, 1) inset, 
		-1px -1px rgba(16, 92, 162, 1) inset;
	background: rgba(23,42,84,1); /* 23 42 84 */
	background: linear-gradient(top, 
		rgba(23, 42, 84, 1) 0%, rgba(23, 42, 84, 1) 50%, 
		rgba(4, 67, 136, 1) 50%, rgba(4, 67, 136, 1) 100%);
	background: -webkit-linear-gradient(top, 
		rgba(23, 42, 84, 1) 0%, rgba(23, 42, 84, 1) 50%, 
		rgba(4, 67, 136, 1) 50%, rgba(4, 67, 136, 1) 100%);
	background: -moz-linear-gradient(top, 
		rgba(23, 42, 84, 1) 0%, rgba(23, 42, 84, 1) 50%, 
		rgba(4, 67, 136, 1) 50%, rgba(4, 67, 136, 1) 100%);
	background: -ms-linear-gradient(top, 
		rgba(23, 42, 84, 1) 0%, rgba(23, 42, 84, 1) 50%, 
		rgba(4, 67, 136, 1) 50%, rgba(4, 67, 136, 1) 100%);
	background: -o-linear-gradient(top, 
		rgba(23, 42, 84, 1) 0%, rgba(23, 42, 84, 1) 50%, 
		rgba(4, 67, 136, 1) 50%, rgba(4, 67, 136, 1) 100%);
}
.actionButtons:hover{
	background: rgba(32,100,177,1); /* 23 42 84 */
	background: linear-gradient(top, 
		rgba(32, 100, 177, 1) 0%, rgba(32, 100, 177, 1) 50%, 
		rgba(32, 177, 232, 1) 50%, rgba(32, 177, 232, 1) 100%);
	background: -webkit-linear-gradient(top, 
		rgba(32, 100, 177, 1) 0%, rgba(32, 100, 177, 1) 50%, 
		rgba(32, 177, 232, 1) 50%, rgba(32, 177, 232, 1) 100%);
	background: -moz-linear-gradient(top, 
		rgba(32, 100, 177, 1) 0%, rgba(32, 100, 177, 1) 50%, 
		rgba(32, 177, 232, 1) 50%, rgba(32, 177, 232, 1) 100%);
	background: -ms-linear-gradient(top, 
		rgba(32, 100, 177, 1) 0%, rgba(32, 100, 177, 1) 50%, 
		rgba(32, 177, 232, 1) 50%, rgba(32, 177, 232, 1) 100%);
	background: -o-linear-gradient(top, 
		rgba(32, 100, 177, 1) 0%, rgba(32, 100, 177, 1) 50%, 
		rgba(32, 177, 232, 1) 50%, rgba(32, 177, 232, 1) 100%);
}
.actionButtons:active{
	box-shadow:
		0 0 0 5em rgba(0,0,0,.3) inset;
}
.actionButtons > div{
	padding: 0 1em;
}
#players{
	height: 30%;
}
.fa{
	cursor: pointer;
}
#chatId{
	display: none;
}

#surrenderScreen, #victoryScreen{
	position: absolute;
	display: none;
	font-family: Cinzel, Consolas, monospace;
	top: 28%;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 33%;
	max-width: 400px;
	padding: 1% 3%;
	font-size: 1.25em;
	text-align: center;
	z-index: 9999;
}
.endBtn{
	border: 1px solid #3377dd;
	box-shadow: 0 0 20px rgba(0,40,148,1) inset;
	border-radius: 4%;
	color: #ff0;
	cursor: pointer;
	padding: 2px;
	margin-top: 4%;
}
.endBtn:hover{
	background: rgba(0, 48, 112, .5);
}
.modalBtnChild{
	border: 1px solid #114499;
	border-radius: 4%;
}
.portal{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#rankedMatch{
	position: relative;
	top: 2px;
}
#overlay{
	display: none;
	background: rgba(0,0,0,.5);
	z-index:999999;
	cursor: wait;
}
#worldTitle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	max-width: 3840px;
	height: auto;
}
#worldWrap{
	position: absolute;
	top: 0%;
	left: 0%;
	background: #0a246a;
}
.worldWater{
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	opacity: 0;
	background: url('../images/fw_grid2.png');
}
#world{
	position: absolute;
	top: 0%; 
	left: 0%;
}
#mapUnits{
	text-shadow: 1px 1px #000;
	color: #ffffff;
	position: absolute;
	top: 0%; 
	left: 0%;
	overflow: visible;
	z-index:9999;
	pointer-events: none;
}
.hole{
	fill-rule: evenodd;
}
.land{
	fill: #02063a;
	fill-opacity: 1;
	fill-rule:evenodd;
	stroke: #85daf2;
	stroke-opacity: 1;
	stroke-width: 1;
	overflow: visible;
	cursor: pointer;
}
.dead{
	fill: #666;
	stroke: #111;
}
.landOutline{
	stroke: #85daf2;
}
.unit{
	visibility: hidden;
	margin-left: 1em;
	white-space: nowrap;
	font-size: 22px;
	font-family: Times New Roman, Serif;
	pointer-events: none;
	text-anchor: middle;
	alignment-baseline: center;
}
.mapBars{
	stroke-dasharray:2,1;
	overflow: hidden;
}
.targetBarsWrap{
	margin: 3px 4px 3px;
	background: #1a1a1a;
	height: 7px;
	border: 1px solid #1a1a1a;
	overflow: hidden;
}
.targetBars{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 2px;
}
.targetBarsFood{
	border-top: 2px dotted #8d0;
}
.targetBarsCulture{
	border-top: 2px dotted #d2d;
}
.targetBarsDefense{
	border-top: 2px dotted #ff0;
}
text{
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	paint-order: stroke;
}
#motionPath{
	visibility: hidden;
}
#targetLine{
	visibility: hidden;
	stroke-width: 3;
	stroke-dasharray: 8,4;
}
#targetLineShadow{
	visibility: hidden;
	stroke-width: 1;
	stroke-dasharray: 8,4;
	stroke: rgba(0,0,0,1);
}
#targetCrosshair{
	stroke: "#1a1a1a";
	stroke-width: 12;
	visibility: hidden;
	fill: #f00;
	pointer-events: none;
}
.paths{
	stroke: rgba(255,255,0,1);
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: 2,2;
	pointer-events: none;
	fill: none;
}
.titleCaret{
	position: relative;
	left: 2px;
}
.titleButtons{
	background: rgba(16,56,96,1);
}
.gameSelect, .mapSelect{
	font-family: Cinzel, Palatino Linotype, serif;
	text-shadow: none;
}
circle{
	opacity: 0;
}
.block{
	display: block;
}
.center{
	position: relative;
	margin: 0 auto;
}
.w33{
	width: 33%;
}
.w66{
	width: 66%;
}
.w100{
	width: 100%;
}
.bigFont{
	font-size: 1.25em;
}
#nationFlag{
	position: absolute;
	margin-top: 0%;
	right: 1%;
	height: 7em;
}
#nation-ui{
	margin-top: 3%;
	font-family: Times New Roman, serif;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
}
#tileName{
	font-family: Times New Roman, serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
}
.fw-primary{
	background: rgba(0,0,0,.7);
	border-radius: 6px;
	color: #fff;
	box-shadow: 
		0 0 0 1px #3377dd inset, 
		0 0 0 1px #02c;
}
#lobby{
	padding: 8px;
}
#lobbyHead{
	font-size: 1.25em;
}
.active{
    background-color: #286090;
    border-color: #204d74;
}
#joinGame{
	position: relative;
	top: -1px;
}
#joinGameLobby{
	visibility: hidden;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}
#lobbyLeftCol{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 55%;
	height: 96%;
}
#lobbyRightCol{
	position: absolute;
	top: 2%;
	width: 35%;
	left: 60%;
	font-size: 1em;
}
#lobbyPlayers{
	position: relative;
	top: 0%;
	height: 59%;
	left: 0%;
}
#lobbyGame{
	position: relative;
	top: 0%;
	padding: 1em;
	text-align: center;
}
#lobbyRankedMatch{
	display: none;
	font-family: Cinzel, Palatino Linotype, serif;
	font-size: 1.125em;
}
#lobbyGameName{
	overflow: hidden;
	text-overflow: ellipsis;
}
#lobbyGovernmentDescription{
	padding: 1em;
}
.lobbyTeamFlag{
	margin-bottom: .125em;
}
.lobbyTeamNumbers{
	font-family: Cinzel, Palatino Linotype, serif;
	display: inline-block;
	width: 1em;
	text-align: center;
}
.lobbyTeams{
	font-family: Cinzel, Palatino Linotype, serif;
	display: inline;
	background: #222;
	border: 1px solid #aaa;
	color: #7FFFD4;
	border-radius: 4px;
	padding: 0 .5em;
	margin-right: .5em;
}
.lobbyFlags{
	max-height: 2.8em;
	margin-top: .1em;
}
.lobbyRelWrap{
	position: relative;
	top: 0%;
	margin-top: 4%;
}
.lobbyAccounts{
	margin-top: .25em;
	line-height: 1em;
}
.lobbyAccountName{
	cursor: pointer;
}
.lobbyNames{
	font-family: Cinzel, Palatino Linotype, serif;
	font-size: 1.125em;
	line-height: 1.5em;
	color: #8df;
	text-shadow: .5px .5px #145, 1px 1px #145;
}
#lobbyChatLogWrap{
	height: 35%;
	border-radius: 6px 6px 0 0;
}
#lobbyChatLog{
	position: relative;
	overflow: auto;
	top: 2%;
	left: 1%;
	right: 1%;
	width: 98%;
	height: 83%;
	font-family: Roboto, Verdana, Arial, sans-serif;
	color: #bef;
	text-shadow: 1px 1px #357;
	border-radius: 4px;
}
#lobbyChatWrap{
	position: absolute;
	top: auto;
	bottom: 2%;
	left: 1%;
	right: 1%;
	margin: 0;
	width: 98%;
	font-family: Roboto, Verdana, Arial, sans-serif;
	color: #bef;
	text-shadow: 1px 1px #357;
	border-radius: 0;
}
#lobbyGovernmentDescription{
	padding: 1em;
}
#lobbyButtonWrap{
	position: relative;
	padding: 1em 5em;
}
.lobbyButtons{
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 200px;
}
.joinGameInputs{
	color: #bef;
	background: none;
	border: 1px solid #2e6da4;
	margin: 0;
	padding: .25em .5em;
	border-radius: 4px;
	width: 33%;
}
#createGameBtn, #autoJoinBtn{
	background: rgba(16,56,96,1) !important;
}
.fwBlueInput{
	background: rgba(0,12,32,1);
	color: #fff !important;
	border: 1px solid #2e6da4;
}
.gameTableCol1{
	width: 40%;
}
.gameTableCol2{
	width: 30%;
}
.gameTableCol3{
	width: 15%;
}
.gameTableCol4{
	width: 15%;
}
.soundSlider{
	cursor: pointer !important;
	width: 1em;
	margin-right: .25em;
}
#Msg{
	opacity: 0;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	padding: 0 8%;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	background: rgba(0,0,0,.9);
	background: linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);
	/* border gradient */
	border-width: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(right, rgba(4, 67, 136,0) 0%, rgba(4, 67, 136,.9) 20%, rgba(4, 67, 136,.9) 80%, rgba(4, 67, 136,0) 100%);
	-o-border-image: -o-linear-gradient(right, rgba(4, 67, 136,0) 0%, rgba(4, 67, 136,.9) 20%, rgba(4, 67, 136,.9) 80%, rgba(4, 67, 136,0) 100%);
	-moz-border-image: -moz-linear-gradient(right, rgba(4, 67, 136,0) 0%, rgba(4, 67, 136,.9) 20%, rgba(4, 67, 136,.9) 80%, rgba(4, 67, 136,0) 100%);
	-webkit-border-image: -webkit-linear-gradient(right, rgba(4, 67, 136,0) 0%, rgba(4, 67, 136,.9) 20%, rgba(4, 67, 136,.9) 80%, rgba(4, 67, 136,0) 100%);
	-ms-border-image: -ms-linear-gradient(right, rgba(4, 67, 136,0) 0%, rgba(4, 67, 136,.9) 20%, rgba(4, 67, 136,.9) 80%, rgba(4, 67, 136,0) 100%);
	border-image-slice: 1;
	z-index: 999999;
	pointer-events: none;
}
#hud{
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: .1em;
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-size: 1.75em;
	color: #bef;
	z-index:999999;
	pointer-events: none;
	visibility: hidden;
}
#createGameFormWrap{
	padding: 0 .5em;
}
.pad2{
	padding: .25em .5em;
}
#titleViewBackdrop, #ribbonBackdrop{
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
    background: -webkit-radial-gradient(center center, farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 100%);
    background: -moz-radial-gradient(center center, farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 100%);
    background: -ms-radial-gradient(center center, farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 100%);
    background: -o-radial-gradient(center center, farthest-corner, rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 100%);
	z-index: 999999;
}
.capitalColor{
	color: #ffc500;
}
.capitalStar{
	position: relative;
	top: -1px;
	color: #ffc500;
	margin-right: .125em;
	font-size: .875em;
}
.fa-stack{
	width: 1em;
	height: 1em;
	line-height: 1em;
}
.titleModal{
	visibility: hidden;
	position: absolute;
	padding: 8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 50%;
	max-width: 600px;
	z-index: 999999;
}
.wars{
	white-space: nowrap;
	cursor: pointer;
}
.wars:hover{
	color: #9df;
	background: rgba(0,64,128,.8);
}
.wars:active{
	color: #7be;
}
.table-borderless tbody tr td, 
.table-borderless tbody tr th, 
.table-borderless thead tr th {
    border: none;
}
.warCells{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
table {
	table-layout: fixed;
	word-wrap: break-word;
}
#updateNationName{
	color: #222;
	width: 100%;
}
#flagDropdown{
	font-family: Cinzel, Palatino Linotype, serif;
	width: 100%;
	max-height: 300px;
	overflow: auto;
}
.dropdown-menu>li>a{
	color: #222;
}
.dropdown-menu>li>a:hover{
	background: #135;
	color: #fff;
}
.dropdown-header{
	font-weight: bold;
	font-size: 1.125em;
	background: #357;
	border-top: 1px solid #016;
	border-bottom: 1px solid #016;
	color: #fff;
	letter-spacing: .125em;
	font-family: Cinzel, Palatino Linotype, serif;
	padding-left: 1em;
}
#updateNationFlag{
	display: none;
}
#nationName{
	overflow: hidden;
	word-break: break-word;
	max-height: 160px;
}
#lobbyWrap{
	width: 96%;
	padding: 0;
}
.lobbyRow{
	display: none;
	height: 2.8em;
	line-height: 2.8em;
	margin-top: .5em;
}
.lobbyCaret{
	position: absolute;
	top: .375em;
	right: .5em;
	font-size: 1.5em;
}
.fwDropdownButton{
	position: relative;
	text-align: left;
	width: 100%;
	height: 2.75em;
	background: rgba(0,0,0,.5);
	border: 1px solid #2e6da4;
	color: #aef;
}
.fwDropdownButton:hover{
	border: 1px solid #2e6da4;
	background: rgba(0,16,56,.5) !important;
}
.fwDropdownButton:active{
	border: 1px solid #2e6da4;
	background: rgba(0,6,36,.5) !important;
}
.open>.dropdown-toggle.btn{
	border: 1px solid #aef !important;
	color: #aef !important;
	background: rgba(0,16,56,.5) !important;
}
.fwDropdownButton:hover{
	background: rgba(32,112,192,.5);
	color: #aef;
	border: 1px solid #aef;
}
.fwDropdownButtonEnemy:hover{
	background: rgba(0,0,0,.5);
	border: 1px solid #2e6da4;
	color: #aef;
}
#governmentDropdown{
	font-family: Cinzel, Palatino Linotype, serif;
	text-shadow: none;
	background: #00061a;
	border: 2px groove #204d74;
}
#governmentDropdown>li>a{
	color: #aef;
}
#governmentDropdown>li>a:hover{
	background: #135;
}
.fwDropdown{
	text-shadow: none;
	background: #00061a;
	border: 2px groove #204d74;
}
.fwDropdown>li>a{
	color: #aef;
	padding-left: 1em;
}
.fwDropdown>li>a:hover{
	background: #135;
	color: #aef;
}
.lobbyNationName{
	word-break: break-word;
	font-family: Times New Roman, serif;
	font-size: 1.5em;
	overflow: hidden;
}
.lobbyNationInfo{
	overflow: hidden;
}
.gameNationName{
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	font-family: Times New Roman, serif;
	overflow: hidden;
}
#buyFlag{
	font-size: 1.625em;
	background: rgba(16,56,96,.7);
}
#buyFlag:hover{
	color: #00bb00;
}
.crystal{
	float: left;
	background: url('/images1/currency.png') 100% 0 / 200% 100%;
	width:32px;
	height:32px;
}
#flagPurchased{
	display: none;
}
#offerFlag{
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0 1em;
	display: none;
	text-align: center;
	width: 55%;
	background: rgba(0,0,0,.9);
	border-radius: 6px;
	border: 1px solid #3377dd;
	
}
#researchFutureTech{
	display: none;
}
#teamDropdown{
	width: 8em !important;
	min-width: 8em !important;
	border: 2px groove #204d74;
	background: #00061a;
	padding: 5px;
	font-size: 1em;
}
#teamColorDropdown{
	border: 2px groove #204d74;
	background: #00061a;
	width: 12em !important;
	padding: 5px;
	font-size: 1em;
}
.selectTeamHeader{
	border-bottom: 1px solid #204d74;
	padding-bottom: .25em;
}
.teamChoice{
	cursor: pointer !important;
	text-align: center;
	padding: .625em 0;
}
.teamChoice:hover{
	background: #05b;
}
.playerColorChoice{
	cursor: pointer !important;
	font-size: 2em;
	margin: .25em;
	text-shadow: 
		1px 1px #aaa,
		-1px -1px #aaa,
		1px -1px #aaa,
		-1px 1px #aaa;
}
.lobbyPlayer{
	margin-right: .5em;
	text-shadow: 
		1px 1px #aaa,
		-1px -1px #aaa,
		1px -1px #aaa,
		-1px 1px #aaa;
}
.pointer2{
	cursor: pointer !important;
}
.player0{
	color: #02063a;
	background: #02063a;
}
/* gov icon */
.player1{
	color: #bb0000;
}
/* stat border */
.pb1{
	border: 1px solid #bb0000;
}
/* star bar */
.pbar1{
	background: #bb0000;
}
.player2{
	color: #0077ff;
}
.pb2{
	border: 1px solid #0077ff;
}
.pbar2{
	background: #0077ff;
}
.player3{
	color: #dddd00;
}
.pb3{
	border: 1px solid #dddd00;
}
.pbar3{
	background: #dddd00;
}
.player4{
	color: #006000;
}
.pb4{
	border: 1px solid #006000;
}
.pbar4{
	background: #006000;
}
.player5{
	color: #b06000;
}
.pb5{
	border: 1px solid #b06000;
}
.pbar5{
	background: #b06000;
}
.player6{
	color: #33ddff;
}
.pb6{
	border: 1px solid #33ddff;
}
.pbar6{
	background: #33ddff;
}
.player7{
	color: #b050b0;
}
.pb7{
	border: 1px solid #b050b0;
}
.pbar7{
	background: #b050b0;
}
.player8{
	color: #5500aa;
}
.pb8{
	border: 1px solid #5500aa;
}
.pbar8{
	background: #5500aa;
}
/* 9-16 */
.player9{
	color: #660000;
}
.p9b{
	outline: 1px solid #660000;
}
.pbar9{
	background: #660000;
}
.player10{
	color: #0000bb;
}
.p10b{
	outline: 1px solid #0000bb;
}
.pbar10{
	background: #0000bb;
}
.player11{
	color: #663300;
}
.p11b{
	outline: 1px solid #663300;
}
.pbar11{
	background: #663300;
}
.player12{
	color: #33dd33;
}
.p12b{
	outline: 1px solid #33dd33;
}
.pbar12{
	background: #33dd33;
}
.player13{
	color: #222222;
}
.p13b{
	outline: 1px solid #222222;
}
.pbar13{
	background: #222222;
}
.player14{
	color: #00ff99;
}
.p14b{
	outline: 1px solid #00ff99;
}
.pbar14{
	background: #00ff99;
}
.player15{
	color: #ff6666;
}
.p15b{
	outline: 1px solid #ff6666;
}
.pbar15{
	background: #ff6666;
}
.player16{
	color: #dd00dd;
}
.p16b{
	outline: 1px solid #dd00dd;
}
.pbar16{
	background: #dd00dd;
}
.player17{
	color: #e4e4e4;
}
.p17b{
	outline: 1px solid #e4e4e4;
}
.pbar17{
	background: #e4e4e4;
}
.player18{
	color: #220088;
}
.p18b{
	outline: 1px solid #220088;
}
.pbar18{
	background: #220088;
}
.player19{
	color: #707000;
}
.p19b{
	outline: 1px solid #707000;
}
.pbar19{
	background: #707000;
}
.player20{
	color: #888888;
}
.p20b{
	outline: 1px solid #888888;
}
.pbar20{
	background: #888888;
}
.diploTeam{
	font-family: Cinzel, Palatino Linotype, serif;
	display: inline-block;
	width: 1em;
	text-align: center;
	color: #7FFFD4;
	margin-right: .5em;
}
.diploSquare{
	font-size: .875em;
	margin-right: .375em;
	text-shadow: 1px 1px #000;
}
#myNationWrap{
	margin: .5em 0;
}
.mapFlag{
	pointer-events: none;
}
.barWrap{
	overflow: hidden;
	margin: .25em;
}
.resourceBar{
	height: .5em;
	background: #777;
	border-radius: 6px;
}
#foodBar{
	margin: 0;
	background: #8d0;
	border: none;
	width: 0;
	border-radius: 0;
}
#cultureBar{
	margin: 0;
	background: #d2d;
	border: none;
	width: 0;
	border-radius: 0;
}
#startGame{
	display: none;
}
#countdown{
	display: none;
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: .25em;
}
#optionsModal{
	background: #000;
}
#optionsFormWrap{
	padding: 0 3em;
}
/* helper classes */
.no-point{
	pointer-events: none;
}
.nowrap{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.margin-top{
	margin-top: 12px;
}
/* stat */
#statWrap{
	visibility: hidden;
	position: absolute;
	top: 0%;
	bottom: 0%;
	margin: 0%;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 0;
	background: #000;
}
#statWorld{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	max-width: 4400px;
	height: auto;
	z-index: -1;
}
#statResult{
	font-family: Cinzel, Palatino Linotype, serif;
	font-size: 3.5em;
	line-height: 1.7em;
	color: #fff;
	border-bottom: 1px solid #369;
	padding: 0;
	text-indent: .5em;
	text-align: center;
	letter-spacing: .025em;
    background: -webkit-linear-gradient(bottom, rgba(0,8,38,1) 0%, rgba(0,0,0,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(0,8,38,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,8,38,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,8,38,1) 0%, rgba(0,0,0,1) 100%);
}
.statResultFlag{
	height: 1.675em;
}
#statTabWrap{
	border-bottom: 1px solid #369;
	margin-bottom: 1em;
}
.statTabs{
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: 2px;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #bef;
	width: 20%;
	font-size: 1.625em;
	cursor: pointer;
	text-align: center;
	background: rgba(0, 0, 0, .8);
}
.statTabs.active{
    background: -webkit-radial-gradient(top center, farthest-side, rgba(48, 96, 155, 1) 0%, rgba(0,32,69,1) 100%);
    background: -moz-radial-gradient(top center, farthest-side, rgba(48, 96, 155, 1) 0%, rgba(0,32,69,1) 100%);
    background: -ms-radial-gradient(top center, farthest-side, rgba(48, 96, 155, 1) 0%, rgba(0,32,69,1) 100%);
    background: -o-radial-gradient(top center, farthest-side, rgba(48, 96, 155, 1) 0%, rgba(0,32,69,1) 100%);
	color: #d5faff;
	box-shadow: 0 0 3px #17d inset;
}
.statTabs:hover{
	color: #d5faff;
}
.statTabs:active{
	color: #9cd;
}
#gameStatsTable{
	border-spacing: 0;
	padding: 1em;
	font-size: 1.125em;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.statSum{
	color: #ffff1a;
}
#gameStatsTable > tr > th{
	font-size: 1.25em;
	line-height: 1.25em !important;
	padding: 0 !important;
}
.statHead{
	box-shadow: 0 0 0 2px #0a1a4a inset,
		0 0 0 3px #357 inset;
	border-radius: 7px 7px 0 0;
    background: -webkit-linear-gradient(bottom, rgba(16, 64, 128, 1) 0%, rgba(0, 16, 64,1) 100%) !important;
    background: -moz-linear-gradient(bottom, rgba(16, 64, 128, 1) 0%, rgba(0, 16, 64,1) 100%) !important;
    background: -ms-linear-gradient(bottom, rgba(16, 64, 128, 1) 0%, rgba(0, 16, 64,1) 100%) !important;
    background: -o-linear-gradient(bottom, rgba(16, 64, 128, 1) 0%, rgba(0, 16, 64,1) 100%) !important;
}
.statRow{
	border: 1px solid #037;
	border-left: none;
	border-right: none;
}
.statSpacer{
	height: 2px;
}
.statSpacer2{
	height: 0;
}
.statsFlags{
	max-height: 3em;
	margin: 0 .5em .5em;
	float: left;
}
.statsPlayerWrap{
	margin-left: 6.5em;
}
.statsAccount{
	font-size: .875em;
}
.statsNation{
	font-family: Cinzel, Palatino Linotype, serif;
	font-size: 1em;
	color: #8df;
	text-shadow: 
		.5px .5px #145, 1px 1px #145, 
		1.5px 1.5px #145, 2px 2px #145;
}
.statsGov{
	font-size: .875em;
	margin-right: .25em;
}
#statFooter{
	font-family: Times New Roman, serif;
	font-size: 1.25em;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
#statQuote{
	font-family: Palatino Linotype, Times New Roman, serif;
	font-size: .925em;
	padding: .25em .5em;
	margin: 0 2em 0 .5em;
}
#statVerse{
	font-family: Cinzel, Palatino Linotype, serif;
	margin-top: .5em;
}
#statDuration{
	padding: .25em 1em;
}
#gameDuration{
	font-family: Cinzel, Palatino Linotype, serif;
	letter-spacing: 2px;
}
#statsEndGame{
	font-family: Cinzel, Consolas, monospace;
	font-size: .875em;
	padding: .125em 1em;
	margin: .5em;
	font-variant: normal;
}
#statsEndGame:hover{
	color: #d5faff;
	cursor: pointer;
}
.statTD{
	line-height: 3em !important;
	text-align: center;
}
.statBar{
	position: relative;
	margin: 5% 5% 0;
	color: #fff;
	left: 0;
	right: 0;
	line-height: 2em;
	border-radius: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: rgba(0,0,0,.4);
}
.statBarBg{
	width: 0;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,1) inset,
		0 6px 6px rgba(255,255,255,.4) inset,
		0 -6px 6px rgba(0,0,0,.4) inset;
}
.statVal{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* bootstrap overwrites */
.slider-handle{
	cursor: pointer;
	background-image: linear-gradient(to bottom, #8bf 0, #0480be 100%)
}
.fa{
	cursor: default;
	/* background: none !important; */
}
.text-right{
	text-align: right;
}
.text-disabled{
	color: #333;
}
.text-success{
	color: #0d0;
}
.text-primary{
	color: #8bf;
}
.text-info{
	color: #00bb00;
}
.text-warning{
	color: #ee7;
}
.text-danger{
	color: #d11;
}
.text-hotkey{
	color: #5dd;
}
.input-group-addon{
	text-shadow: none;
	color: #1a1a1a;
}
.buffer{
	margin-top: .5em;
}
.buffer2{
	margin-top: 1em;
}
#createGameMapWrap{
}
#mapDropdown, #speedDropdown{
	font-family: Cinzel, Palatino Linotype, serif;
}
#mapDropdownWrap{
	height: 1em;
}
label{
	display: inline;
}
#createGameDescription{
	line-height: 1em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
	opacity: 1;
}
.footMargin{
	margin-bottom: .5em;
}
.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn{
	font-family: Cinzel, Consolas, monospace;
}
.btn:active,
.btn:focus{
	outline: none;
}
.btn-info{
	background: #008811;
	border-color: #005511;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus{
	outline: none;
	background: #00660a;
	border-color: #00440a;
}
.btn-default{
	color: #fff;
	background: #555;
	border-color: #222;
}
.btn.btn-default:hover, 
.btn.btn-default:active,
.btn.btn-default:focus{
	outline: none;
	color: #fff;
	background: #333;
	border-color: #111;
}
.tooltip.in{
	opacity:1 !important;
}
.tooltip-inner {
	color: #aef;
	text-shadow: 1px 1px #000;
	border: 2px ridge #357;
	background: rgba(16, 56, 96, 1);
}
.text-crystal{
	color: #8bf;
}
/* helper classes */
.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.pointer{
	cursor: pointer;
}
.text{
	cursor: text !important;
}
.crosshair{
	cursor: crosshair;
}
/* flag map */
.flag{
	position: relative;
	display: inline-block;
	top: .125em;
	background-image: url('../images/flags/flagMap.png');
	background-size: 2000% 800%;
	margin: .125em .5em 0 0;
	height: 15px;
	width: 24px;
	overflow: hidden;
}
.Albania{
	background-position: -1000% -100%;;
}
.Algeria{
	background-position: -100% 0;
}
.Anarcho-Capitalist{
	background-position: -200% 0;
}
.Argentina{
	background-position: -300% 0;
}
.Armenia{
	background-position: -400% 0;
}
.Australia{
	background-position: -500% 0;
}
.Austria{
	background-position: -600% 0;
}
.Azerbaijan{
	background-position: -700% 0;
}
.Bahamas{
	background-position: -800% 0;
}
.Bangladesh{
	background-position: -900% 0;
}
.Barbados{
	background-position: -1000% 0;
}
.Belgium{
	background-position: -1100% 0;
}
.Bolivia{
	background-position: -1200% 0;
}
.Bosnia-and-Herzegovina{
	background-position: -1300% 0;
}
.Botswana{
	background-position: -1400% 0;
}
.Brazil{
	background-position: -1500% 0;
}
.Bulgaria{
	background-position: -1600% 0;
}
.Cambodia{
	background-position: -1700% 0;
}
.Cameroon{
	background-position: -1800% 0;
}
.Canada{
	background-position: -1900% 0;
}

.Cape-Verde{
	background-position: 0 -100%;
}
.Chile{
	background-position: -100% -100%;
}
.China{
	background-position: -200% -100%;
}
.Christian{
	background-position: -300% -100%;
}
.Colombia{
	background-position: -400% -100%;
}
.Confederate-Flag{
	background-position: -500% -100%;
}
.Costa-Rica{
	background-position: -600% -100%;
}
.Croatia{
	background-position: -700% -100%;
}
.Cuba{
	background-position: -800% -100%;
}
.Czech-Republic{
	background-position: -900% -100%;
}
.player0, .Default{
	background-position: 0 0;
}
.Denmark{
	background-position: -1100% -100%;
}
.Ecuador{
	background-position: -1200% -100%;
}
.Edgemaster{
	background-position: -1300% -100%;
}
.Egypt{
	background-position: -1400% -100%;
}
.England{
	background-position: -1500% -100%;
}
.Estonia{
	background-position: -1600% -100%;
}
.European-Union{
	background-position: -1700% -100%;
}
.Finland{
	background-position: -1800% -100%;
}
.Flanders{
	background-position: -1900% -100%;
}

.France{
	background-position: 0 -200%;
}
.Gadsden-Flag{
	background-position: -100% -200%;
}
.Georgia{
	background-position: -200% -200%;
}
.Germany{
	background-position: -300% -200%;
}
.Ghana{
	background-position: -400% -200%;
}
.Greece{
	background-position: -500% -200%;
}
.Haiti{
	background-position: -600% -200%;
}
.High-Energy{
	background-position: -700% -200%;
}
.Honduras{
	background-position: -800% -200%;
}
.Hong-Kong{
	background-position: -900% -200%;
}
.Hungary{
	background-position: -1000% -200%;
}
.Iceland{
	background-position: -1100% -200%;
}
.India{
	background-position: -1200% -200%;
}
.Indonesia{
	background-position: -1300% -200%;
}
.Iran{
	background-position: -1400% -200%;
}
.Ireland{
	background-position: -1500% -200%;
}
.ISIS{
	background-position: -1600% -200%;
}
.Isle-of-Man{
	background-position: -1700% -200%;
}
.Israel{
	background-position: -1800% -200%;
}
.Italy{
	background-position: -1900% -200%;
}

.Ivory-Coast{
	background-position: 0 -300%;
}
.Japan{
	background-position: -100% -300%;
}
.Jordan{
	background-position: -200% -300%;
}
.Kazakhstan{
	background-position: -300% -300%;
}
.Kenya{
	background-position: -400% -300%;
}
.Kosovo{
	background-position: -500% -300%;
}
.Kurdistan{
	background-position: -600% -300%;
}
.Latvia{
	background-position: -700% -300%;
}
.Lebanon{
	background-position: -800% -300%;
}
.Liberia{
	background-position: -900% -300%;
}
.Lithuania{
	background-position: -1000% -300%;
}
.Macedonia{
	background-position: -1100% -300%;
}
.MAGA{
	background-position: -1200% -300%;
}
.Malaysia{
	background-position: -1300% -300%;
}
.Mexico{
	background-position: -1400% -300%;
}
.Mongolia{
	background-position: -1500% -300%;
}
.Montenegro{
	background-position: -1600% -300%;
}
.Morocco{
	background-position: -1700% -300%;
}
.Mozambique{
	background-position: -1800% -300%;
}
.Myanmar{
	background-position: -1900% -300%;
}

.Namibia{
	background-position: 0 -400%;
}
.Nepal{
	background-position: -100% -400%;
}
.Netherlands{
	background-position: -200% -400%;
}
.New-Zealand{
	background-position: -300% -400%;
}
.Nigeria{
	background-position: -400% -400%;
}
.North-Korea{
	background-position: -500% -400%;
}
.Northwest-Front{
	background-position: -600% -400%;
}
.Norway{
	background-position: -700% -400%;
}
.NSDAP-Flag{
	background-position: -800% -400%;
}
.NSDAP-War-Ensign{
	background-position: -900% -400%;
}
.Pakistan{
	background-position: -1000% -400%;
}
.Palestine{
	background-position: -1100% -400%;
}
.Pan-African-Flag{
	background-position: -1200% -400%;
}
.Paraguay{
	background-position: -1300% -400%;
}
.Peru{
	background-position: -1400% -400%;
}
.Philippines{
	background-position: -1500% -400%;
}
.player1{
	background-position: -1600% -400%;
}
.player2{
	background-position: -1700% -400%;
}
.player3{
	background-position: -1800% -400%;
}
.player4{
	background-position: -1900% -400%;
}
.player5{
	background-position: 0 -500%;
}
.player6{
	background-position: -100% -500%;
}
.player7{
	background-position: -200% -500%;
}
.player8{
	background-position: -300% -500%;
}
.pol{
	background-position: -400% -500%;
}
.Poland{
	background-position: -500% -500%;
}
.Portugal{
	background-position: -600% -500%;
}
.Qatar{
	background-position: -700% -500%;
}
.Rainbow-Flag{
	background-position: -800% -500%;
}
.Rising-Sun-Flag{
	background-position: -900% -500%;
}
.Romania{
	background-position: -1000% -500%;
}
.Russia{
	background-position: -1100% -500%;
}
.Saint-Lucia{
	background-position: -1200% -500%;
}
.Saudi-Arabia{
	background-position: -1300% -500%;
}
.Scotland{
	background-position: -1400% -500%;
}
.Serbia{
	background-position: -1500% -500%;
}
.Shahanshahi{
	background-position: -1600% -500%;
}
.Singapore{
	background-position: -1700% -500%;
}
.Slovakia{
	background-position: -1800% -500%;
}
.Slovenia{
	background-position: -1900% -500%;
}
.South-Africa{
	background-position: 0 -600%;
}
.South-Korea{
	background-position: -100% -600%;
}
.Spain{
	background-position: -200% -600%;
}
.Sri-Lanka{
	background-position: -300% -600%;
}
.Suriname{
	background-position: -400% -600%;
}
.Sweden{
	background-position: -500% -600%;
}
.Switzerland{
	background-position: -600% -600%;
}
.Syria{
	background-position: -700% -600%;
}
.Taiwan{
	background-position: -800% -600%;
}
.Thailand{
	background-position: -900% -600%;
}
.Trinidad-and-Tobago{
	background-position: -1000% -600%;
}
.Turkey{
	background-position: -1100% -600%;
}
.Uganda{
	background-position: -1200% -600%;
}
.Ukraine{
	background-position: -1300% -600%;
}
.United-Kingdom{
	background-position: -1400% -600%;
}
.United-Nations{
	background-position: -1500% -600%;
}
.United-States{
	background-position: -1600% -600%;
}
.Uruguay{
	background-position: -1700% -600%;
}
.USSR{
	background-position: -1800% -600%;
}
.Uzbekistan{
	background-position: -1900% -600%;
}
.Venezuela{
	background-position: 0 -700%;
}
.Vietnam{
	background-position: -100% -700%;
}
.Welsh{
	background-position: -200% -700%;
}
.player9{
	background-position: -300% -700%;
}
.player10{
	background-position: -400% -700%;
}
.player11{
	background-position: -500% -700%;
}
.player12{
	background-position: -600% -700%;
}
.player13{
	background-position: -700% -700%;
}
.player14{
	background-position: -800% -700%;
}
.player15{
	background-position: -900% -700%;
}
.player16{
	background-position: -1000% -700%;
}

/* responsive height */
@media all and (min-height: 968px){
}
@media all and (min-height: 868px) and (max-height: 967px){
	#refreshGameWrap{
		height: 62vh;
	}
}
@media all and (min-height: 768px) and (max-height: 867px){
	#refreshGameWrap{
		height: 59vh;
	}
}
@media all and (min-height: 668px) and (max-height: 767px){
	.titlePanelLeft{
		height: 86vh;
	}
	#refreshGameWrap{
		height: 56vh;
	}
	#leaderboardBody{
		height: 83vh;
	}
}
@media all and (min-height: 558px) and (max-height: 667px){
	.titlePanelLeft{
		height: 85vh;
	}
	#refreshGameWrap{
		height: 50vh;
	}
	#leaderboardBody{
		height: 82vh;
	}
}
@media all and (min-height: 458px) and (max-height: 567px){
	.titlePanelLeft{
		height: 84vh;
	}
	#refreshGameWrap{
		height: 42vh;
	}
	#leaderboardBody{
		height: 79vh;
	}
}
@media all and (min-height: 368px) and (max-height: 467px){
	.titlePanelLeft{
		height: 82vh;
	}
	#refreshGameWrap{
		height: 34vh;
	}
	#leaderboardBody{
		height: 74vh;
	}
}
@media all and (max-height: 367px){
	.titlePanelLeft{
		height: 80vh;
	}
	#refreshGameWrap{
		height: 25vh;
	}
	#leaderboardBody{
		height: 70vh;
	}
}
/* responsive width */
@media all and (min-width: 1023px){
	body { 
		font-size: 1.5em; 
	}
	.btn-responsive{
		padding: 4px 8px;
	}
}
@media all and (min-width: 800px) and (max-width: 1023px){
	body { 
		font-size: 1.25em; 
	}
	.btn-responsive{
		font-size: .925em; 
		padding: 3px 6px;
	}
	#targetFlag{
		width: 76px;
	}
	.wideRack{
		width: 100px;
	}
}
@media all and (min-width: 640px) and (max-width: 799px){
	body { 
		font-size: 1em; 
	}
	.btn-responsive{
		font-size: .875em; 
		padding: 2px 4px;
	}
	#targetFlag{
		width: 72px;
	}
	.wideRack{
		width: 75px;
	}
}
@media all and (min-width: 500px) and (max-width: 639px){
	body { 
		font-size: .85em; 
	}
	.btn-responsive{
		font-size: .825em; 
		padding: 2px 4px;
	}
	#targetFlag{
		width: 68px;
	}
	.wideRack{
		width: 75px;
	}
}
@media all and (max-width: 499px){
	body { 
		font-size: .7em; 
	}
	.btn-responsive{
		font-size: .75em; 
		padding: 1px 2px;
	}
	#targetFlag{
		width: 64px;
	}
	.wideRack{
		width: 75px;
	}
}